@media screen and (min-width:871px){
    
    html,body{
        scroll-behavior: smooth;
    }
    body{
        margin: 10px;
    }
    
    
    .nav_bar{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: gray;
        width:10.1%;
        position: fixed;
        height: 100vh;
    }
    .pics{
        width: 90%;
        height: 100px;
        margin: auto;
        margin-top: 10px;
        background-image: url(../images/img39.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 15px;
    
    }
    
    
    .nav_bar li i{
        color: #fff;    
    }
    
    
    li a{
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 8px 16px;
        text-align: center;
        text-transform: capitalize;
    }
    
    li a.active{
        background-color: #04aa6d;
        color: white;
    }
    
    li a:hover:not(.active){
        background-color: #29312e;
        color: #000000;
        width: 100px;
    }
        
    
    .container{
        width: 90% ;
        height:100%;
        margin-left: 10%;
        background: #3e3d3d;
        margin-bottom: 20px;
    }
    
    .container .profile_picture{
        background-image: url(../images/img18.jpg);
        width: 70%;
        height: 600px;
        border-radius: 20px;
        margin: auto;
    }
    
    .container .skill_one{
        width: 98%;
        height: 20px;
        background:linear-gradient(to right, rgb(94, 92, 92) 60%, white 40%);
        margin: 10px;
    }
    
    .container .skill_two{
        width: 98%;
        height: 20px;
        background:linear-gradient(to right, rgb(94, 92, 92) 65%, white 35%);
        margin: 10px;
    }
    
    .container .skill_three{
        width: 98%;
        height: 20px;
        background:linear-gradient(to right, rgb(94, 92, 92) 70%, white 30%);
        margin: 10px;
    }
    
    .stats{
        list-style-type: none;
        background-color: #fff;
        display: inline-flex;
        width: 95%;
        height: 100px;
        margin-top: 20px;
        margin-left: 25px;
        justify-content: space-around;
        padding-top: 20px;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    .b1{
        width: 20%;
        height: 50px;
        margin-left: 25px;
        border-radius: 20px;
    }
    
    .packages{
        display: none;
        display: flex;
        justify-content: space-around;
    }
    
    .basic, .pro{
        list-style-type: none;
        padding: 0px;
        width: 40%;
        background: #fff;
        opacity: 0.5;
    
    }
    
    .basic:hover, .pro:hover{
        opacity: 1;
    }
    .basic li, .pro li{
        border-bottom: 1px solid #000;
        height: 75px;
        text-align: center;
        color: #000;
        box-sizing: border-box;
        text-transform: capitalize;
    
    }
    
    .basic li a, .pro li a{
        text-decoration: none;
        color: #000;
        border: 2px solid black;
        margin: auto;
        width: 90px;
        border-radius: 10px;
        background: #04aa6d;
        margin-top: -10px;
    }
    
    .basic li:last-child, .pro li:last-child{
     border-bottom: none;
    }
    
    .basic li:hover, .pro li:hover{
        padding-left: 5px;
        color: #04aa6d;
    
    }
    
    /*.person{
        border: 2px solid white;
        width: 20%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }
    
    .person .p{
        width: 40%;
        height: 100px;
        border: 2px solid aqua;
        
    }
    
    .person .t{
        color: #fff;
        margin-top: 50px;
    }
    */

    .gallery_grid{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-auto-rows:minmax(200px, auto) ;
        
        margin-left: 10px;    
     
    }

    
    .img_1{
        grid-column: 1/2;
        grid-row: 1/3;

    }

    .resp1{
        width:95%; 
        height:780px;
        opacity: 0.3;
        margin: 10px 0 10px 10px;
        border-radius: 10px;
    }

    .resp1:hover{
        opacity: 1;
    }
    
    .img_2{
        grid-row: 1/3;
    }

    .resp2{
        width:95%; 
        height:780px;
        opacity: 0.3;
        margin: 10px 0px 10px 0px;
        border-radius: 10px;
    }

    .resp2:hover{
        opacity: 1;
    }
    
   .img_3{
    
    }

    .resp3{
        width:700px; 
        height: 500px;
        opacity: 0.3;
        margin: 10px 0 10px 10px;
        border-radius: 10px;
    }
    
    .resp3:hover{
        opacity: 1;
    }

   /*.img_4{

    
   }*/
    .resp4{
        width:430px;
        height: 500px;
        opacity: 0.3;
        margin: 10px 0 10px 10px;
        border-radius: 10px;
    }

    .resp4:hover{
        opacity: 1;
    }
   

    input[type=submit]{
        width: 10%;
        border-radius: 10px;
        margin-left: 30px;
    }


    input{
        height: 25px;
        width: 98%;
        background: rgb(208, 206, 206);
    }

    input:invalid{
        border: 4px solid red;
    }

   
    
    fieldset{
        width: 70%;
        margin-left:30px;
        margin-bottom: 10px;
        border: 2px solid black;
    }

    legend{
        color: gray;
    }
    
    .b2{
        width: 10%;
        height: 50px;
        margin-left: 30px;
        border-radius: 20px;
    }
    
    .footer{
        background: #fff;
        text-align: center;
        font-size: x-large;
        margin-top: 15px;
    }
    
    
    
    
    
    
}










@media screen and (max-width:600px){
        html,body{
            scroll-behavior: smooth;
        }
        body{
            margin: 10px;
        }
        
        
        .nav_bar{
            position: sticky;
            top: 10px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background: gray;
            display: inline-flex;
            width:100%;
            border-radius: 10px;
        
        }
        
        .pics{
            width: 10%;
            height: 30px;
            border: 2px solid #c1d0cb;      
            margin: 5px 0 0 10px;
        }
        
        
        .nav_bar li i{
            color: #fff;
            font-size: 20px; 
            margin-left: 20px;
        }
        
        
        li a{
            text-decoration: none;
            display: block;
            color: #000;
            padding: 8px 16px;
            text-align: center;
            text-transform: capitalize;
            font-size:5px;
       }
        
        li a.active{
            background-color: #04aa6d;
            color: white;
        }
        
        li a:hover:not(.active){
            background-color: rgb(44, 134, 94);
            color: white;
        }
            
        
        .container{
            width: 100% ;
            height:100%;
            border: 2px solid black;
            background: #262626;
        
        }
    
        .container h1{
            font-size: 30px;
        }
    
    
        
        .container .profile_picture{
            width: 70%;
            height: 300px;
            border: 2px solid green;
            margin: auto;
        }
        
        .container .skill_one{
            width: 95%;
            height: 20px;
            background:linear-gradient(to right, rgb(94, 92, 92) 60%, white 40%);
            margin: 8px;
        }
        
        .container .skill_two{
            width: 95%;
            height: 20px;
            background:linear-gradient(to right, rgb(94, 92, 92) 65%, white 35%);
            margin: 8px;
        }
        
        .container .skill_three{
            width: 95%;
            height: 20px;
            background:linear-gradient(to right, rgb(94, 92, 92) 70%, white 30%);
            margin: 8px;
        }
        
        .stats{
            list-style-type: none;
            background-color: #fff;
            display: inline-flex;
            width: 95%;
            height: 90px;
            margin :auto;      
            margin-top: 20px;
            margin-bottom: 5px;
            margin-left: 8px;  
            padding-top: 20px;
            box-sizing: border-box;
            padding:0;
            border-radius: 10px;
          }
          
          .stats li{
              /*padding-top:10px;
              padding-left:10px;*/
              padding: 10px;
              box-sizing:border-box;
              text-align: center;
    
          }
        
        .b1{
            width: 35%;
            height: 35px;
            margin-left: 20px;
            border-radius: 10px;
        }
        
        
        .basic, .pro{
            list-style-type: none;
            padding: 0px;
            width: 90%;
            background: #fff;
            opacity: 0.5;
            margin: auto;
            margin-bottom:10px;
        
        }
        
        .basic:hover, .pro:hover{
            opacity: 1;
        }
        .basic li, .pro li{
            border-bottom: 1px solid #000;
            height: 75px;
            text-align: center;
            color: #000;
            box-sizing: border-box;
            text-transform: capitalize;
        
        }
        
        .basic li a, .pro li a{
            text-decoration: none;
            color: #000;
            border: 2px solid black;
            margin: auto;
            width: 90px;
            border-radius: 10px;
            background: #04aa6d;
            font-size: large;
            margin-top: -10px;
        }
        
        .basic li:last-child, .pro li:last-child{
         border-bottom: none;
        }
        
        .basic li:hover, .pro li:hover{
            padding-left: 5px;
            color: #04aa6d;
        
        }
        
        /*.person{
            border: 2px solid white;
            width: 90%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            margin-top: 10px;
        }
        
        .person .p{
            width: 40%;
            height: 90px;
            border: 2px solid aqua;
            
        }
        
        .person .t{
            color: #fff;
            margin-top: 40px;
        }*/
        
        /*.gallery_grid{
            margin: 5px;
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-auto-rows:minmax(100px, auto) ;
           
        
        }*/
        
    
        .resp1{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
        
        .resp1:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp2{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
        
        .resp2:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp3{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
        
        .resp3:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp4{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
        
        .resp4:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp5{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
        
        .resp5:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp6{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
    
        .resp6:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp7{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
        
        .resp7:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp8{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
            
        }
    
        .resp8:hover{
            opacity: 1;
            height: 100vh;
        }
    
        .resp9{
            margin-left:10px;
            width:95%; 
            height:215px;
            opacity:0.4;
        }
    
        .resp9:hover{
            opacity: 1;
            height: 100vh;
        }
    
        input[type=submit]{
            width: 20%;
            border-radius: 10px;
            margin-left: 30px;
        }
        
        input{
            width: 95%;
            height: 20px;
            background: rgb(208, 206, 206);
        }
    
        input:invalid{
            border: 4px solid red;
        }
        
        fieldset{
            width: 85%;
            margin-bottom: 10px;
            border: 2px solid black;
    
        }
    
        legend{
            color: gray;
        }
    
        textarea{
            width: 200px;
            height: 100px;
        }
    
    
    
        .b2{
            width: 35%;
            height: 30px;
            margin-left: 20px;
            border-radius: 20px;
        }
        
        .footer{
            background: #fff;
            text-align: center;
            font-size: x-large;
            margin-top: 15px;
        }
        
        
        
        
        
}